body {
	font: 1em sans-serif;
	text-align: center;
	background-image: url(../images/back.jpg);
	background-repeat: repeat;
}

.main-menu {
	width: 840px;
	height: 849px;
	top: 50%;
	left: 50%;
	margin: -425px 0 0 -325px;
	position: absolute;
	background-image: url(../images/cloud.png);
	background-size: cover;
	z-index: 10;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.inform {
	height: 100px;
	width: 100px;
	margin: 300px 250px;
	z-index: 13;
	text-align: center;
	font-family: 'Baloo Bhai', cursive;
	font-size: 50px;
}

h1 {
	margin: 0 0;
	color: #fcc105;
	font-size: 49px;
	text-shadow: 4px 4px #ff981d, 7px 7px rgba(200, 120, 22, .2);
}

a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	width: 140px;
	height: 45px;
	line-height: 45px;
	border-radius: 45px;
	margin: 10px 60px;
	font-size: 20px;
	text-align: center;
	color: #ff981d;
	background: white;
}

#play-button {
	box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
	font-size: 30px;
}

#change-button {
	color: white;
	background-color: #fcc105;
}

#change-button:hover {
	background: #ff981d;
	color: white;
	cursor: pointer;
}

#play-button:hover {
	background: #ff981d;
	box-shadow: 0 15px 20px rgba(252, 293, 5, .4);
	color: white;
	transform: translateY(-7px);
	transition: .3s; 
}

.stage {
	display: flex;
	height: 700px;
	width: 100%;
}

.box {
	align-self: flex-end;
	height: 100px;
	width: 100px;
	background-color: #F44336;
	border-radius: 50%;
	margin: 0 auto 0 auto;
	transform-origin: bottom;
	animation-name: bounce-2;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

.ball,
.ball6 {
	animation-timing-function: ease;
	/* эффект анимации начинается медленно, затем незначительно ускоряется и в конце опять замедляется  */
}

.ball2 {
	animation-timing-function: ease-out;
	/* эффект анимации с одинаковой скоростью от начала до конца */
}

.ball3 {
	animation-timing-function: ease-in;
	/* эффект анимации с медленного старта */
}

.ball4 {
	animation-timing-function: ease-out;
	/* эффект анимации с медленным окончанием */
}

.ball5 {
	animation-timing-function: ease-in-out;
	/* эффект перехода с медленным стартом и медленным окончанием */
}

.circle {
	display: inline-block;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background: linear-gradient(to right, #F44336 50%, gold 50%);
	box-shadow: 5px 5px rgba(200, 120, 22, .2);
}

.section-one {
	position: absolute;
	left: 170px;
}

.section-two {
	position: absolute;
	right: 240px;
}

span {
	font-size: 20px;
	position: absolute;
	display: inline;
	top: 80px;
	left: 0;
	color: #ff981d;
	text-shadow: 5px 5px rgba(200, 120, 22, .2);
}

a p {
	line-height: 19px;
	text-shadow: 5px 5px rgba(200, 120, 22, .2);
	color: #ff981d;
	font-size: 20px;
}

@keyframes bounce-2 {
	0% {
		transform: translateY(-1200px);
	}


	100% {
		transform: translateY(100px);
	}
}
